
			<div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header"> Diachronic clustering</h1>
	            </div>
	        </div>
	        <div class="row">
		        <div class="col-lg-8">
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
	                            <i class="fa fa-bar-chart-o fa-fw"></i> Bipartite diachronic graph
	                            <% if (("psrc" in objectResult) && ("ptgt" in objectResult)) { %>
	                            	: Periods <%= objectResult.psrc %> and <%= objectResult.ptgt %>
	                            <% } %> 


	                            <div class="pull-right">
	                                <div class="btn-group">
	                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
	                                        Select periods
	                                        <span class="caret"></span>
	                                    </button>
	                                    <ul class="dropdown-menu pull-right" role="menu">
	                                        <% for (var i=1; i <= objectResult.experiment; i++ ) {%>
	                                        	<% for (var j=i+1; j <= objectResult.experiment; j++ ) {%>
                                            		<li><a href="/diachronie?src=<%= i%>&tgt=<%= j%>">Periods <%= i%>-<%= j%></a></li>
                                            	<% }%>
                                        	<% }%>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                        		<%- objectResult.svgsrc %>
	                        <!-- /.panel-heading -->
	                        <div class="panel-body">
	                            <div id="morris-area-chart"></div>
	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <div class="panel panel-yellow">
	                    <div class="panel-heading">
	                        <div class="row">
	                            <div class="col-xs-3">
	                                <i class="fa fa-shopping-cart fa-5x">Matching information</i>
	                            </div>
	                            <div class="col-xs-9 text-right">
	                            </div>
	                        </div>
	                    </div>
	                    <p id='matchingp'> </p>
	                    <a href="#">
	                        <div class="panel-footer">
	                            <span class="pull-left">Selected link information</span>
	                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                            <div class="clearfix"></div>
	                        </div>
	                    </a>
	                </div>
                </div>

                <div class="col-lg-4">
                	<div class="panel panel-red" >
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9"><i id='clusterdata' class="fa fa-shopping-cart fa-5x">Source Cluster data</i>
                                </div>
                            </div>
                        </div>
                        <p id='clusterp'> </p>
                        	<a href='#'>
                            <div class="panel-footer">
                                <span class="pull-left">Selected Cluster Keywords</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                            </a>
                    </div>

                    <div class="panel panel-red" >
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9"><i id='clusterdatatgt' class="fa fa-shopping-cart fa-5x">Target Cluster data</i>
                                </div>
                            </div>
                        </div>
                        <p id='clusterptgt'> </p>
                        	<a href='#'>
                            <div class="panel-footer">
                                <span class="pull-left">Selected Cluster Keywords</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                            </a>
                    </div>
               	</div>
            </div>

	<script type="text/javascript">
			var dataviz='#dataviz-container';
			var matching = document.getElementById('matchingp');
			function opacityHigh(object) {
				object.style("stroke-opacity","1");
				object.style("fill-opacity","1");
			};
			function opacityLow(object) {
				object.style("stroke-opacity","0.2");
				object.style("fill-opacity","0.2");
			}
			function mouseoverLine() {
				var line = d3.select(this);
				opacityHigh(line);
				text=d3.select("#"+line.attr("src")+line.attr("target"));
				opacityHigh(text);
				obj=JSON.parse(line.attr("kernel"));
				content="";
				for (feature in obj) {
					label=obj[feature]["label"];
					srcW=obj[feature]["fSource"];
					targetW=obj[feature]["fTarget"];
					content =content +"Label <b>"+label+"</b> is common to <span class='blueOfSrcList'>" + line.attr("src")+ " (" +srcW+")</span> and <span class='orangeOfTargetList'>"+ line.attr("target") +" ("+targetW+")</span><br />";
				}
				matching.innerHTML ="<b>Matching type : "+line.attr('matchingtype')+"</b><br /><br />"+content;

				$.ajax({
				       url : '/getCluster',
				       type : 'GET',
				       data: "cluster="+line.attr("src")+"&period="+<%= objectResult.psrc %>,
				       success : function(result){
				       		res=""; 
				       		for (i in result) {
				       			res+="<b>"+result[i].FeatureName +"</b> "+result[i].FeatureWeight+"<br />";
				       		}
				       		$('#clusterdata').html( line.attr("src") + " from Period "+ <%= objectResult.psrc %>);
				       		$('#clusterp').html(res);
				       }
					});
				$.ajax({
				       url : '/getCluster',
				       type : 'GET',
				       data: "cluster="+line.attr("target")+"&period="+<%= objectResult.ptgt %>,
				       success : function(result){
				       		res=""; 
				       		for (i in result) {
				       			res+="<b>"+result[i].FeatureName +"</b> "+result[i].FeatureWeight+"<br />";
				       		}
				       		$('#clusterdatatgt').html( line.attr("target") + " from Period "+ <%= objectResult.ptgt %>);
				       		$('#clusterptgt').html(res);
				       }
					});
				
			};
			function mouseoutLine() {
				var line = d3.select(this);
				opacityLow(line);
				text=d3.select("#"+line.attr("src")+line.attr("target"));
				opacityLow(text);
			};
			var lines = d3.selectAll("line");
			lines.on("mouseover", mouseoverLine)
			.on("mouseout", mouseoutLine);

			function mouseoverSrc() {
				classe=d3.select(this).attr("title");
				d3.selectAll("[src="+classe+"]")
				.style("stroke-opacity",function(d,i) { return 1;})
				.style("fill-opacity",function(d,i) { return 1;});

			};
			function mouseoutSrc() {
				classe=d3.select(this).attr("title");
				d3.selectAll("[src="+classe+"]")
				.style("stroke-opacity","0.2")
				.style("fill-opacity","0.2");
			};
			var clusterSources = d3.selectAll(".ClusterSource");
			clusterSources.on("mouseover", mouseoverSrc)
			.on("mouseout", mouseoutSrc);

			$(function(){
				$('.ClusterSource').mouseover(function(e){
					cluster= $(this).attr("title");
					period=$(this).attr("period");
					$.ajax({
				       url : '/getCluster',
				       type : 'GET',
				       data: "cluster="+cluster+"&period="+period,
				       success : function(result){
				       		res=""; 
				       		for (i in result) {
				       			res+="<b>"+result[i].FeatureName +"</b> "+result[i].FeatureWeight+"<br />";
				       		}
				       		$('#clusterdata').html( cluster + " from Period "+ period);
				       		$('#clusterp').html(res);
				       		$('#clusterdatatgt').html("Source cluster");
				       		$('#clusterptgt').html("");
				       }
					});

				});
			});
			$(function(){
				$('.ClusterTarget').mouseover(function(e){
					cluster= $(this).attr("title");
					period=$(this).attr("period");
					$.ajax({
				       url : '/getCluster',
				       type : 'GET',
				       data: "cluster="+cluster+"&period="+period,
				       success : function(result){
				       		res=""; 
				       		for (i in result) {
				       			res+="<b>"+result[i].FeatureName +"</b> "+result[i].FeatureWeight+"<br />";
				       		}
				       		$('#clusterdatatgt').html( cluster + " from Period "+ period);
				       		$('#clusterptgt').html(res);
				       		$('#clusterdata').html("Cluster target");
				       		$('#clusterp').html("");
				       }
					});

				});
			});

		</script>