
			<div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header">Clusters matchings</h1>
	            </div>
	        </div>
	        <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>
                            <% if (("src" in objectResult) && ("tgt" in objectResult)) { %>Matching : <%= objectResult.src %> and <%= objectResult.tgt %>  <% } %>
                            <% if (("psrc" in objectResult) && ("ptgt" in objectResult)) { %>(Periods <%= objectResult.psrc %> and <%= objectResult.ptgt %>)  <% } %> 
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Select periods
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <% for (var i=1; i <= objectResult.experiment; i++ ) {%>
                                            <% for (var j=i+1; j <= objectResult.experiment; j++ ) {%>
                                                <li><a href="circles?psrc=<%= i%>&ptgt=<%= j%>">Periods <%= i%>-<%= j%></a></li>
                                            <% }%>
                                        <% }%>
                                    </ul>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Select a clusters matching
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <% for (i in objectResult.matching) {%>
                                         <li><a href="circles?psrc=<%= objectResult.psrc%>&ptgt=<%= objectResult.ptgt%>&src=<%= objectResult.matching[i].src %>&tgt=<%= objectResult.matching[i].tgt %>"><%= objectResult.matching[i].src +" - "+objectResult.matching[i].tgt %></a></li>
                                        <% }%>
                                    </ul>
                                </div>
                            </div>
                            </div>
                        	<center>
                        		<%- objectResult.svgsrc %>
                        	</center>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                 </div>