					<div class="row">
			            <div class="col-lg-12">
			                <h1 class="page-header">
			                <% if (objectResult.period !== undefined) {
			                %>
			                	Period <%= objectResult.period %><% if (objectResult.cluster !== undefined) {
				                %>, cluster <%= objectResult.cluster %>
				                <%
				                }
				                %>
			                <%
			                }
			                else {
			                %>
			                	All clusters
			                <%
			                }
			                %>
			                </h1>
			            </div>
			        </div>
		                    <div class="panel panel-default">
		                        <div class="panel-heading">
		                            <i class="fa fa-bar-chart-o fa-fw"></i>Links to Istex documents
		                            <div class="pull-right">
		                                <div class="btn-group">
		                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
		                                        Select period
		                                        <span class="caret"></span>
		                                    </button>
		                                    <ul class="dropdown-menu pull-right" role="menu">
				                                <% for (var i=1; i <= objectResult.experiment; i++ ) {%>
		                                            <li><a href="clusterbarchart?period=<%= i%>">Period <%= i%></a></li>
		                                        <% }%>
		                                    </ul>
		                                </div>
		                            </div>
		                        </div>
		                        	<center>
		                        		<%
		                        		var p="";
		                        		var c="";
		                        		for (i in objectResult.doc) {
		                        			var doc=objectResult.doc[i];
		                        			if (doc.period != p) {
		                        				p=doc.period;
		                        			%>
		                        					<br /><br /><h2>Period <%= p %></h2>
		                        			<%
		                        			}
		                        			if (doc.cluster != c) {
			                        			c=doc.cluster;
			                        		%>
			                        				<br /><h3>Cluster <%= c %></h3><br />
			                        		<%
		                        			}
		                        			%>
		                        			<a href='https://api.istex.fr/document/<%= doc.idIstex %>/fulltext/pdf' target='_blank'><%= doc.title%>, 
		                        			</a> (<%= doc.year %>)<br />
		                        		<%
		                        		} 
		                        		%>
		                        	</center>
		                        <!-- /.panel-heading -->
		                        <div class="panel-body">
		                            <div id="morris-area-chart"></div>
		                        </div>
		                        <!-- /.panel-body -->
		                    </div>