
			<div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header">Upload files to visualize</h1>
	            </div>
	        </div>
	        <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw">Step 1 : Specify how many periods you consider for the diachrony</i>
                        </div>
                        	<center>
                        		<form method='post' action="periodNumber">
                        			<SELECT name="periodNumber" size="1">
                        				<OPTION>
										<OPTION 
											<% if (objectResult.experiment == 2) {%>
												SELECTED
											<% }%>
										>2
										<OPTION
											<% if (objectResult.experiment == 3) {%>
												SELECTED
											<% }%>
										>3
										<OPTION
											<% if (objectResult.experiment == 4) {%>
												SELECTED
											<% }%>
										>4
									</SELECT>
									<input type="submit" value="Send">
								</form>
                        	</center>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                 </div>

	        <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw">Step 2 : Upload arff for each period</i>
                        </div>
                        	<center>
                        		<%- objectResult %>
                        	</center>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                 </div>
            <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw">Step 3 : Upload sclu for each period</i>
                        </div>
                        	<center>
                        		<form action="uploadSclu"
                                    enctype="multipart/form-data" method="post">
                                    <p>
                                    <label for="periodNumber">Period considered :</label>
                                    <SELECT name="periodNumber" size="1">
                        				<% for (var i=1; i <= objectResult.experiment; i++ ) {%>
											<OPTION> <%= i%>
                        				<% }%>
									</SELECT>
                                    </p>
                                    <p>
                                    <label for="sclu">Chose the sclu file to submit :</label>
                                    <input type="file" name="sclu">
                                    </p>
                                    <input type="submit" value="Upload">
                                </form>
                        	</center>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                 </div>

            <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw">Step 4 : Upload dcsl for each period</i>
                        </div>
                        	<center>
                        		<form action="uploadDcsl"
                                    enctype="multipart/form-data" method="post">
                                    <p>
                                     <label for="periodNumber">Choose the period considered:</label>
                                    <SELECT name="periodNumber" size="1">
                        				<% for (var i=1; i <= objectResult.experiment; i++ ) {%>
											<OPTION> <%= i%>
                        				<% }%>
									</SELECT>
                                    </p>
                                    <p>
                                    <label for="dcsl">Choose the dcsl file:</label>
                                    <input type="file" name="dcsl">
                                    </p>
                                    <input type="submit" value="Upload">
                                </form>
                        	</center>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                 </div>

            <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw">Step 5 : Upload json diachrony results between periods considered in your study</i>
                            <div class="pull-right">
                            </div>
                        </div>
                        	<center>
                        		<form action="uploadJson"
                                    enctype="multipart/form-data" method="post">
                                    <p>
                                     <label for="periodNumberSrc">Choose the source period considered:</label>
                                    <SELECT name="periodNumberSrc" size="1">
                        				<% for (var i=1; i <= objectResult.experiment; i++ ) {%>
											<OPTION> <%= i%>
                        				<% }%>
									</SELECT>
                                    </p>
                                    <p>
                                     <label for="periodNumberTarget">Choose the target period considered:</label>
                                    <SELECT name="periodNumberTarget" size="1">
                        				<% for (var i=1; i <= objectResult.experiment; i++ ) {%>
											<OPTION> <%= i%>
                        				<% }%>
									</SELECT>
                                    </p>
                                    <p>
                                    <label for="jsond">Choose the json file:</label>
                                    <input type="file" name="jsond">
                                    </p>
                                    <input type="submit" value="Upload">
                                </form>
                        	</center>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                 </div>
